  <h1>Menus</h1>

  <table class="table table-bordered table-hover">
    <thead class="table-dark" style="text-align: center;">
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @menus.each do |menu| %>
        <tr style="text-align: center;">
          <td><%= menu.title %></td>
          <td><%= menu.price %></td>
          <td><%= menu.image %></td>
          <td><%= link_to 'Show', menu, class:"btn btn-outline-secondary" %></td>
          <td><%= link_to 'Edit', edit_menu_path(menu), class:"btn btn-outline-secondary" %></td>
          <td><%= link_to 'Destroy', menu, class:"btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Menu', new_menu_path, class:"btn btn-success", style:"color: white; margin-left: 20px;" %>


<div class="container px-4 py-5">
  <div class="row row-cols-1 row-cols-lg-3 align-items-center g-4 py-5">
    <% @menus.each do |menu| %>
      <div class="card card card-cover h-100 overflow-hidden text-balck text-center rounded-5" style="background-color: #e3f2fd;">
        <div class="card-body">
          <p class="card-text"><image src="<%=(url_for(menu.image.variant(resize_to_limit: [300, 300])))%>"></p>
          <h5 class="card-title"><%= menu.title %></h5>
          <p class="card-text"><%= menu.price %>$</p>
        </div>
      </div>
    <% end %>
  </div>
</div>