  <div class="card " style="background-color: #e3f2fd;">
    <h3 class="card-header text-center">Your Order</h3>
    <div class="card-body text-center">
      <% @order_items.each do |item| %>
          <h3><%= item.menu.title %></h3>
          <h5><%= item.menu.price %></h5>
          <%= form_for item, remote: true do |f| %>
              <%= f.hidden_field :menu_id, :value => item.menu.id %>
              <%= f.hidden_field :quantity, :value => item.quantity.to_i %>
              <%= f.submit "Update Card", class:"btn btn-outline-success" %>
              <%= link_to "Remove Items", order_items_path(item), method: :delete, remote: true, class:"btn btn-outline-secondary"%>
          <% end %><hr>
      <% end %>
      <h3>Your current card value has a subtotal of: <%= current_order.subtotal %></h3>
    </div>
  </div>
  </br>